<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sprboot.mapper.CUS_INFOMapper">
    <resultMap id="BaseResultMap" type="com.example.sprboot.model.CUS_INFO">
        <constructor>
            <idArg column="Cus_Id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="Cus_Name" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="Cus_IdNo" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="Cus_Phone1" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="Cus_Phone2" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="Cus_Phone3" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MakeDate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="ModifyDate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="Operator" javaType="java.lang.String" jdbcType="VARCHAR" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    Cus_Id, Cus_Name, Cus_IdNo, Cus_Phone1, Cus_Phone2, Cus_Phone3, MakeDate, ModifyDate, 
    Operator
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from cus_info
        where Cus_Id = #{cusId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cus_info
    where Cus_Id = #{cusId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.example.sprboot.model.CUS_INFO">
    insert into cus_info (Cus_Id, Cus_Name, Cus_IdNo, 
      Cus_Phone1, Cus_Phone2, Cus_Phone3, 
      MakeDate, ModifyDate, Operator
      )
    values (#{cusId,jdbcType=INTEGER}, #{cusName,jdbcType=VARCHAR}, #{cusIdno,jdbcType=VARCHAR}, 
      #{cusPhone1,jdbcType=VARCHAR}, #{cusPhone2,jdbcType=VARCHAR}, #{cusPhone3,jdbcType=VARCHAR}, 
      #{makedate,jdbcType=TIMESTAMP}, #{modifydate,jdbcType=TIMESTAMP}, #{operator,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.example.sprboot.model.CUS_INFO">
        insert into cus_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cusId != null">
                Cus_Id,
            </if>
            <if test="cusName != null">
                Cus_Name,
            </if>
            <if test="cusIdno != null">
                Cus_IdNo,
            </if>
            <if test="cusPhone1 != null">
                Cus_Phone1,
            </if>
            <if test="cusPhone2 != null">
                Cus_Phone2,
            </if>
            <if test="cusPhone3 != null">
                Cus_Phone3,
            </if>
            <if test="makedate != null">
                MakeDate,
            </if>
            <if test="modifydate != null">
                ModifyDate,
            </if>
            <if test="operator != null">
                Operator,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cusId != null">
                #{cusId,jdbcType=INTEGER},
            </if>
            <if test="cusName != null">
                #{cusName,jdbcType=VARCHAR},
            </if>
            <if test="cusIdno != null">
                #{cusIdno,jdbcType=VARCHAR},
            </if>
            <if test="cusPhone1 != null">
                #{cusPhone1,jdbcType=VARCHAR},
            </if>
            <if test="cusPhone2 != null">
                #{cusPhone2,jdbcType=VARCHAR},
            </if>
            <if test="cusPhone3 != null">
                #{cusPhone3,jdbcType=VARCHAR},
            </if>
            <if test="makedate != null">
                #{makedate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifydate != null">
                #{modifydate,jdbcType=TIMESTAMP},
            </if>
            <if test="operator != null">
                #{operator,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.sprboot.model.CUS_INFO">
        update cus_info
        <set>
            <if test="cusName != null">
                Cus_Name = #{cusName,jdbcType=VARCHAR},
            </if>
            <if test="cusIdno != null">
                Cus_IdNo = #{cusIdno,jdbcType=VARCHAR},
            </if>
            <if test="cusPhone1 != null">
                Cus_Phone1 = #{cusPhone1,jdbcType=VARCHAR},
            </if>
            <if test="cusPhone2 != null">
                Cus_Phone2 = #{cusPhone2,jdbcType=VARCHAR},
            </if>
            <if test="cusPhone3 != null">
                Cus_Phone3 = #{cusPhone3,jdbcType=VARCHAR},
            </if>
            <if test="makedate != null">
                MakeDate = #{makedate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifydate != null">
                ModifyDate = #{modifydate,jdbcType=TIMESTAMP},
            </if>
            <if test="operator != null">
                Operator = #{operator,jdbcType=VARCHAR},
            </if>
        </set>
        where Cus_Id = #{cusId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.sprboot.model.CUS_INFO">
    update cus_info
    set Cus_Name = #{cusName,jdbcType=VARCHAR},
      Cus_IdNo = #{cusIdno,jdbcType=VARCHAR},
      Cus_Phone1 = #{cusPhone1,jdbcType=VARCHAR},
      Cus_Phone2 = #{cusPhone2,jdbcType=VARCHAR},
      Cus_Phone3 = #{cusPhone3,jdbcType=VARCHAR},
      MakeDate = #{makedate,jdbcType=TIMESTAMP},
      ModifyDate = #{modifydate,jdbcType=TIMESTAMP},
      Operator = #{operator,jdbcType=VARCHAR}
    where Cus_Id = #{cusId,jdbcType=INTEGER}
  </update>
    <select id="selectAll" parameterType="com.example.sprboot.model.CUS_INFO" resultMap="BaseResultMap">
        SELECT * FROM cus_info WHERE 1=1
        <if test="cusId != null">AND Cus_Id=#{cusId,jdbcType=INTEGER}</if>
        <if test="cusName!= null">AND Cus_Name=#{cusName,jdbcType=VARCHAR}</if>
        <if test="cusPhone1!= null">AND (Cus_Phone1=#{cusPhone1,jdbcType=VARCHAR} OR
            Cus_Phone2=#{cusPhone1,jdbcType=VARCHAR} OR Cus_Phone3=#{cusPhone1,jdbcType=VARCHAR} )
        </if>
    </select>
    <select id="selectPage" resultMap="BaseResultMap">
        SELECT * FROM cus_info
    </select>
</mapper>