<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.IUserMapper">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="com.example.demo.model.User">
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="sex" property="sex" jdbcType="INTEGER" />
        <result column="nickname" property="nickname" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="pass" property="pass" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="path" property="path" jdbcType="VARCHAR" />
    </resultMap>

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        id,
        age,
        sex,
        nickname,
        name,
        pass,
        phone,
        path
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="user.id">
        INSERT INTO i_user (
            sex,
            age,
            nickname,
            name,
            pass,
            phone,
            path
        ) VALUES (
            #{user.age,jdbcType=INTEGER} ,
            #{user.sex,jdbcType=INTEGER} ,
            #{user.nickname,jdbcType=VARCHAR},
            #{user.name,jdbcType=VARCHAR},
            #{user.pass,jdbcType=VARCHAR},
            #{user.phone,jdbcType=VARCHAR},
            #{user.path,jdbcType=VARCHAR}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="user.id">
        INSERT INTO i_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="user.age != null">age,</if>
            <if test="user.sex != null">sex,</if>
            <if test="user.nickname!=null">nickname,</if>
            <if test="user.name!=null">name,</if>
            <if test="user.pass!=null">pass,</if>
            <if test="user.phone!=null">phone,</if>
            <if test="user.path!=null">path,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="user.age != null">#{user.age,jdbcType=INTEGER} ,</if>
            <if test="user.sex != null">#{user.sex,jdbcType=INTEGER} ,</if>
            <if test="user.nickname!=null">#{user.nickname,jdbcType=VARCHAR},</if>
            <if test="user.name!=null">#{user.name,jdbcType=VARCHAR},</if>
            <if test="user.pass!=null">#{user.pass,jdbcType=VARCHAR},</if>
            <if test="user.phone!=null">#{user.phone,jdbcType=VARCHAR},</if>
            <if test="user.path!=null">#{user.path,jdbcType=VARCHAR},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO i_user (
        nickname,
        name,
        pass,
        phone,
        path
        )VALUES
        <foreach collection="users" item="user" index="index" separator=",">
            (
            #{user.age,jdbcType=INTEGER} ,
            #{user.sex,jdbcType=INTEGER} ,
            #{user.nickname,jdbcType=VARCHAR},
            #{user.name,jdbcType=VARCHAR},
            #{user.pass,jdbcType=VARCHAR},
            #{user.phone,jdbcType=VARCHAR},
            #{user.path,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="updateByPrimaryKeySelective">
        UPDATE i_user
        <set>
            <if test="user.age != null">#{user.age,jdbcType=INTEGER} ,</if>
            <if test="user.sex != null">#{user.sex,jdbcType=INTEGER} ,</if>
            <if test="user.nickname != null">nickname= #{user.nickname,jdbcType=VARCHAR},</if>
            <if test="user.pass != null">pass= #{user.pass,jdbcType=VARCHAR},</if>
            <if test="user.phone != null">phone= #{user.phone,jdbcType=VARCHAR},</if>
            <if test="user.path != null">path= #{user.path,jdbcType=VARCHAR}</if>
        </set>
        WHERE id = #{user.id,jdbcType=INTEGER} </update>

<!--auto generated by MybatisCodeHelper on 2019-05-01-->
    <select id="selectByIdOrNameOrNicknameOrPhone" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from i_user iu
        where id=#{ id,jdbcType=INTEGER} or `name`=#{name,jdbcType=VARCHAR} or nickname=#{nickname,jdbcType=VARCHAR}
        or phone=#{phone,jdbcType=VARCHAR}
    </select>

<!--auto generated by MybatisCodeHelper on 2019-05-01-->
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from i_user iu
    </select>

</mapper>

