<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.ISysUserMapper">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="com.example.demo.model.SysUser">
        <result column="userid" property="userid" jdbcType="VARCHAR" />
        <result column="loginname" property="loginname" jdbcType="VARCHAR" />
        <result column="username" property="username" jdbcType="VARCHAR" />
    </resultMap>
    
    <!--auto generated Code-->
    <sql id="Base_Column_List">
        userid,
        loginname,
        username
    </sql>
    
    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="sysUser.userid">
        INSERT INTO sys_user (
            userid,
            loginname,
            username
        ) VALUES (
            #{sysUser.userid,jdbcType=VARCHAR},
            #{sysUser.loginname,jdbcType=VARCHAR},
            #{sysUser.username,jdbcType=VARCHAR}
        )
    </insert>
    
    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="sysUser.userid">
        INSERT INTO sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sysUser.userid!=null">userid,</if>
            <if test="sysUser.loginname!=null">loginname,</if>
            <if test="sysUser.username!=null">username,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sysUser.userid!=null">#{sysUser.userid,jdbcType=VARCHAR},
            </if>
            <if test="sysUser.loginname!=null">#{sysUser.loginname,jdbcType=VARCHAR},
            </if>
            <if test="sysUser.username!=null">#{sysUser.username,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    
    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO sys_user (
        userid,
        loginname,
        username
        )VALUES
        <foreach collection="sysUsers" item="sysUser" index="index" separator=",">
            (
            #{sysUser.userid,jdbcType=VARCHAR},
            #{sysUser.loginname,jdbcType=VARCHAR},
            #{sysUser.username,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    
    <!--auto generated Code-->
    <update id="updateByPrimaryKeySelective">
        UPDATE sys_user
        <set>
            <if test="sysUser.loginname != null">loginname= #{sysUser.loginname,jdbcType=VARCHAR},</if>
            <if test="sysUser.username != null">username= #{sysUser.username,jdbcType=VARCHAR}</if>
        </set>
        WHERE userid = #{sysUser.userid,jdbcType=VARCHAR}
    </update>
    
    <!--auto generated by MybatisCodeHelper on 2019-03-20-->
    <select id="selectByUserid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from SYS_USER
        where userid=#{userid,jdbcType=VARCHAR}
    </select>
    
<!--auto generated by MybatisCodeHelper on 2019-03-20-->
    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from SYS_USER
    </select>


</mapper>

